.Buttons_M {
  margin: auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 1px white solid;
  text-decoration: none;
  text-align: center;
  color: white;
  transition-property: background-color color font-weight;
  transition-duration: 0.3s;
  cursor: pointer; }

.Buttons_M:hover {
  background-color: white;
  color: black;
  font-weight: bold; }
