.product-content {
    width: 98%;
    height: 98%;

    display: grid;
    grid-template-columns: 65% auto;
    grid-template-rows: 5% 25% 10%;
    gap: 5%;

    padding: 5% 2.5%;

    #ProductName {
       -webkit-appearance: none;

        width: 100%;

        font-size: 1.3em;

        border: none;
        border-bottom: 1px solid #ADADAD;

        outline: none;

        grid-column: 1;
        grid-row: 1;

        transition: 500ms border-bottom;
    }

    #ProductName:focus {border-bottom: 1px solid #1F1F1F;}

    #ProductDescription {
        width: 100%;
        height: 100%;

        grid-row: 2;
        grid-column: 1;

        outline: none;

        resize: none;
    }

    .ProductPic {
        width: 100%;
        height: 100%;

        grid-row: 1 / span 3;

        border: 1px solid #ADADAD;

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        font-size: 1.6em;
        font-weight: 100;
        color: #ADADAD;
    }

    .ProductPic:hover {cursor: pointer;}

    #ProductMenu {
        grid-column: 1;
        grid-row: 3;

        display: flex;
        justify-content: space-around;

        .ProductBtn {
            width: 20%;
            height: 100%;

            border: 1px solid #ADADAD;

            display: flex;
            justify-content: center;
            align-items: center;

            color: #ADADAD;
        }
    }

    #Btn {
        grid-column: 1 / span 2;
        
        display: flex;
        justify-content: space-around;

        .Buttons_L {
            background-color: white;
            color: #ADADAD;
            border: 1px solid #ADADAD;
        }

        .Buttons_L:hover {
            color: white;
            background-color: black;
        }
    }
}