@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
$ff-M: 'Montserrat', sans-serif;

@mixin frase {
    text-align: center;
    margin-top: 13%;

    font-family: $ff-M;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 200;
    color: white;    
}

.principal{
    width: 100vw;
    height: 100vh;
    background:
    linear-gradient(
        rgba(10, 10, 10, .5),
        rgba(10, 10, 10, .5)
        ),
        url("../../img/galeria/roupas-clean.webp");
    background-size: cover;
    background-attachment: fixed;

    .centralizado{
    p{        
        @include frase;
    }
}
}
