.div-text{
    padding-left: 160px;
    padding-top: 150px;
    
  
    .text {
      color: #ffffff;
      padding-top: 100px;
      padding: 80px 20px 0;
      width: 598px;
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #58382475;
      font-size: 25px;
      font-family: sans-serif;
      text-align: center;
    }
  }