.NavBarDash {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  width: 25vw;
  background-color: black; }

.NavBarDash h1 {
  margin-top: 5%;
  text-decoration: none;
  font-size: 3em;
  color: white;
  font-weight: 100; }

.NavBarDash span {
  color: white; }

.NavBarDash ul {
  list-style-type: none;
  position: relative;
  top: 5%;
  height: 70vh;
  width: 100%; }

.NavBarDash ul li {
  display: block;
  margin: 5% 0;
  padding: 8% 0;
  font-size: 1.2em;
  text-align: center;
  color: white;
  cursor: pointer; }

.NavBarDash ul li:hover {
  background-color: rgba(92, 92, 92, 0.24); }

.NavBarDash ul #is-active {
  background-color: rgba(92, 92, 92, 0.24); }
