nav {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  width: 25vw;
  background-color: #1f1f1f; }

nav a {
  margin-top: 5%;
  text-decoration: none;
  font-size: 3em;
  color: white; }

nav span {
  color: white; }

nav ul {
  list-style-type: none;
  position: relative;
  top: 5%;
  height: 70vh;
  width: 100%; }

nav ul li {
  display: block;
  margin: 5% 0;
  padding: 8% 0;
  font-size: 1.2em;
  text-align: center;
  color: white;
  cursor: pointer; }

nav ul li:hover {
  background-color: rgba(92, 92, 92, 0.24); }

nav ul #is-active {
  background-color: rgba(92, 92, 92, 0.24); }
