$color: white;
header {
    display: flex;
    justify-content: space-between;
    margin: auto 1.5%;
    padding: 0.2%;

    animation: nav-fade-in 1s;

    @keyframes nav-fade-in {
        0% {opacity: 0;}
        100% {opacity: 100%s;}
    }
    
    h1 {
        text-decoration: none;
        color: $color;
        font-size: 35px;
        font-weight: 200;
        cursor: pointer;
    }

    nav {
        ul {
            list-style: none;
            top: 1%;
        
            display: flex;
            flex-flow: row;

            
            li {
                float: left;
                margin: 10px;
                color: $color;
                font-weight: 400;
                font-size: 15px;
                
                cursor: pointer;
            }
    
            li:hover {
                border-bottom: solid $color 1px;
            }
        }     
    } 
}    