$alphaValue: 0.6;

.links {
    $margin: 0.3%;
    margin: $margin;
    display: grid;
    grid-template-columns: 55% auto;
    grid-template-rows: 65vh 65vh;
    gap: $margin;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link1 {
        background:
        linear-gradient(
            rgba(0, 0, 0, $alphaValue),
            rgba(0, 0, 0, $alphaValue)
            ),
            url('../../img/placeholders/clothes_PH_1.webp');
        background-size: cover;
        background-position: center;
    }
    
    .link2 {
        background:
        linear-gradient(
            rgba(0, 0, 0, $alphaValue),
            rgba(0, 0, 0, $alphaValue)
            ),
            url('../../img/placeholders/clothes_PH_2.webp');
        background-size: cover;
        background-position: center;
    }

    .link3 {
        background:
        linear-gradient(
            rgba(0, 0, 0, $alphaValue),
            rgba(0, 0, 0, $alphaValue)
            ),
            url('../../img/placeholders/clothes_PH_3.webp');
        background-size: cover;
        background-position: center;

        grid-row: 1 / span 2;
        grid-column: 2;
    }
}