.teste{
    display: flex;
    justify-content:center;
    padding: 200px;
}

.All {
    display: flex;
    background-color: #fff;
    width: 750px;
    height: 200px;
}

.Camisa{
padding: 20px;
    
    img{
    padding-left: 15px;
    }
    p{
    padding-top: 05px;
    text-align: center;
    }
}

.Value{
    display: flex;
    flex-direction:row;
    p{
        margin-top: 80px;
        padding-right: 50px;
    }
}

.End{
    display: flex;
    align-items:flex-end;
    a{
    margin-bottom:10px;
    margin-right: 20px;
    text-decoration: none;
    color: red;
    }

    input{
    margin-bottom:10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    }
}