.teste{
    display: flex;
    justify-content:flex-start;
    padding-top: 100px;
    padding-left: 150px;
}

.All {
    display: flex;
    background-color: white;
    width: 660px;
    height: 200px;
}

.Camisa{
padding: 20px;
    
    img{
    padding-left: 15px;
    }
    p{
    padding-top: 05px;
    margin-right: 10px;
    text-align: center;
    }
}

.Value{
    display: flex;
    flex-direction:column;
    margin-top: 85px;
    font-size: 18px;
    text-align: center;
    p{
        padding-right: 130px;
        padding-left: 130px;
    }
}

.End{
    display: flex;
    align-items:flex-end;
    
    a{
    margin-bottom:25px;
    margin-right: 10px;
    text-decoration: none;
    color: red;
    font-size: 16px;
    }
}