$color1: white;
$color2: black;
$alphaValue: 0.6;

body {
    overflow-x: hidden;
}

.Background {
    width: 100vw;
    height: 100vh;

    background:
    linear-gradient(
        rgba(10, 10, 10, $alphaValue),
        rgba(10, 10, 10, $alphaValue)
        ),
        url("../../img/background/clothes_BG_1.webp");
    background-size: cover;
    background-attachment: fixed;

    .center-element {
        display: flex;
        position: relative;
        flex-flow: column;

        align-items: center;
        height: 140px;

        $top-center-element: 35%;
        top: $top-center-element;

        animation: pop-up 1s;

        @keyframes pop-up {
            0% {top: 0%}
            100% {top: $top-center-element;}
        }

        #displayName {
            color: $color1;
            font-weight: 100;
            font-size: 3em;
            animation: show-text 1s;

            @keyframes show-text {
                0% {opacity: 0;}
                100% {opacity: 100%;}
            }
        }

        #center-buttons {
            display: flex;
            justify-content: space-around;
            position: relative;
            top: 10%;
        }
    }

    #scroll-down-arrow {
        position: absolute;
        
        top: 85%;
        left: 50%;

        animation: scroll-down-arrow 2s infinite;

        @keyframes scroll-down-arrow {
            0% {top: 85%}
            50% {top: 90%}
            100% {top: 85%}
        }
        
        img {
            transform: translate(-50%, -50%);
            width: 8%;
            cursor: pointer;
        }
    }
}

.about {
    margin-top: 0.3%;
    height: 100vh;
    background:
        linear-gradient(
            rgba(35, 39, 43, $alphaValue),
            rgba(35, 39, 43, $alphaValue)
        ),
        url('../../img//background/clothes_BG_2.webp');
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    .about-container {
        display: flex;
        justify-content: center;
        
        width: 30vw;
        height: 60%;
        
        margin: 3%;

        background-color: rgba(0, 0, 0, 0.70);

        .about-content {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            text-align: center;
            padding: 5%;

            color: $color1;

            h1 {
                margin-bottom: 5%;
            }
        }
    }
}