body {
  overflow-x: hidden; }

.Background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), url("../../img/background/clothes_BG_1.webp");
  background-size: cover;
  background-attachment: fixed; }

.Background .center-element {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  height: 140px;
  top: 35%;
  animation: pop-up 1s; }

@keyframes pop-up {
  0% {
    top: 0%; }
  100% {
    top: 35%; } }

.Background .center-element #displayName {
  color: white;
  font-weight: 100;
  font-size: 3em;
  animation: show-text 1s; }

@keyframes show-text {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

.Background .center-element #center-buttons {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 10%; }

.Background #scroll-down-arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  animation: scroll-down-arrow 2s infinite; }

@keyframes scroll-down-arrow {
  0% {
    top: 85%; }
  50% {
    top: 90%; }
  100% {
    top: 85%; } }

.Background #scroll-down-arrow img {
  transform: translate(-50%, -50%);
  width: 8%;
  cursor: pointer; }

.about {
  margin-top: 0.5%;
  height: 100vh;
  background: linear-gradient(rgba(35, 39, 43, 0.6), rgba(35, 39, 43, 0.6)), url("../../img//background/clothes_BG_2.webp");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
