@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400&display=swap);

$ff-M: 'Montserrat', sans-serif;
$ff-O: 'Oswald', sans-serif;

@mixin frase {
    text-align: center;
    margin-top: 13%;

    font-family: $ff-M;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 300;
    color: white;    
}
.Ofertas{
    width: 100vw;
    height: 46vw;
    background: 
    linear-gradient(
        rgba(10, 10, 10, .5),
        rgba(10, 10, 10, .5) 
    ),
    url("../../img/galeria/primavera-flor-rosa.webp");
    background-size: cover;
    background-attachment: fixed;

    .frase{
        @include frase;

        $top-center-element: 35%;
        top: $top-center-element;

        animation: opacity 1s;
    }
        @keyframes opacity {
            from{
                opacity: 0;
            }
            to{
                opacity: 100%;
            }
        }
    }